layout {
    background-color "transparent"

    focus-ring {
        active-color   "#abcbde"
        inactive-color "#8c9196"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#abcbde"
        inactive-color "#8c9196"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#abcbde"
        inactive-color "#8c9196"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#abcbde80"
    }
}

recent-windows {
    highlight {
        active-color   "#315060"
        urgent-color   "#ffb4ab"
    }
}